body {
    background-color:#c1d7d7;
    font-family: 'Courgette';
}



#bangalore-tile, #coorg-tile, #mysore-tile, #shivanasamudra-tile,
 	 #bandipur-tile, #gokarna-tile ,#sakleshpur-tile, #dandeli-tile,
 	 #hampi-tile, #golgumbaz-tile, #jog-tile, #srirangapatna-tile {
 		width:300px;
 		height:250px;
 		background-position: center left;
 		margin:auto;
 		margin-top: 20px;
 		border:1px solid black;
 	}
 
  #bangalore-tile span, #coorg-tile span, #mysore-tile span, #shivanasamudra-tile span,
 	 #bandipur-tile span, #gokarna-tile span, #sakleshpur-tile span,
 	 #dandeli-tile span, #hampi-tile span, #golgumbaz-tile span, 
 	 #jog-tile span, #srirangapatna-tile span{
 	position: absolute;
	bottom: 0;
	text-align: center;
	width: 298px;
	font-size: 1.6em;
	text-transform: uppercase;
	background-color: #000;
	color: #fff;
	opacity: .8;
 }


 @media(min-width: 1200px) {
 	.container .jumbotron {
	 	align-items: center;
	 	padding: 0;
	 	padding: 0px;
	 	background-color: #669999;
	 	border:2px solid black;
    }

    .navbar {
	border:2px solid black;
	background-color: #669999;
	padding-right: -30px;
	padding-left: -30px;
	border-radius: 0;
   }

   h1 {
 	text-align: right;
 	font-size: 35px;
 	margin-top: 40px;
 	padding-left: 60px;
 	padding-right: 70px;
 	color: #990000;
    font-family: 'Cinzel Decorative';
   }
 	
 }


@media (min-width: 992px) and (max-width: 1199px){
	.container .jumbotron {
	 	align-items: center;
	 	padding: 0px;
	 	background-color: #669999;
	 	border:2px solid black;
    }

    .navbar {
	background-color: #669999;
	height: 100px;
	border-radius: 0;
	border: 3px solid black;
   }

   h1 {
   	margin-top: 15px;
 	text-align: right;
 	font-size: 35px;
 	color: #990000;
    font-family: 'Cinzel Decorative';
    padding-left: 140px;
   }
}

@media (min-width: 767px) and (max-width: 991px){
	.container .jumbotron {
	 	align-items: center;
	 	padding: 0px;
	 	background-color: #669999;
	 	border:2px solid black;
    }

    .navbar {
	background-color: #669999;
	height: 100px;
	border-radius: 0;
	border: 3px solid black;
   }

   #head-name {
 	text-align: right;
 	font-size: 35px;
 	color: #990000;
    font-family: 'Cinzel Decorative';
    padding-left: 35px;
    padding-top: 10px;
   }
   .top-para-map {
   	padding-bottom: 30px;
   }
   #info {
 		padding:20px;

 	}
}





@media (max-width: 767px){
	.container .jumbotron {
	 	align-items: center;
	 	padding: 0;
	 	padding: 0px;
	 	background-color: #6fbdbd#6fbdbd;
	 	border:2px solid black;
    }

    .navbar {
	background-color: #81a1a1;
	border: 3px solid black;
	height:120px;
	border-radius: 0;
   }

   h1 {
 	text-align: center;
 	font-size: 35px;
 	color: #990000;
    font-family: 'Cinzel Decorative';
    padding: 0;
    margin-top: 10px;
    padding-top: 15px;
   }
   #info {
 		padding:20px;
 	}
 	.top-para-map {
   	padding-bottom: 30px;
   }
   body {
   	background-color: #cfe8e8;
   }
}

@media(max-width: 694px) {
	h1 {
		padding: 0;
	}
}

@media (max-width: 479px){
	.container .jumbotron {
		margin:10px;
	}
	.navbar{
		height: 80px;
	}
	h1{
		font-size: 20px;
		margin: 0;
		padding-top: 10px;
	}
	#bangalore-tile, #coorg-tile, #mysore-tile, #shivanasamudra-tile,
 	 #bandipur-tile, #gokarna-tile ,#sakleshpur-tile, #dandeli-tile,
 	 #hampi-tile, #golgumbaz-tile, #jog-tile, #srirangapatna-tile {
 		width:250px;
 		height:200px;
 	}
 	#bangalore-tile span, #coorg-tile span, #mysore-tile span, #shivanasamudra-tile span,
 	 #bandipur-tile span, #gokarna-tile span, #sakleshpur-tile span,
 	 #dandeli-tile span, #hampi-tile span, #golgumbaz-tile span, 
 	 #jog-tile span, #srirangapatna-tile span{
 	 	width: 250px;
 	 }
 	#info {
 		padding:20px;
 	}
}


 #bangalore-tile {
 	background: url('../images/bangalore-img.jpg') no-repeat;
 	
 }

#coorg-tile {
 	background: url('../images/coorg-img.jpg') no-repeat;
 }

 #mysore-tile {
 	background: url('../images/mysore-img.jpg') no-repeat;
 	background-position: center;
 }

 #shivanasamudra-tile {
 	background: url('../images/Shivanasamudra-img.jpg') no-repeat;
 }

 #bandipur-tile {
 	background: url('../images/bandipur-img.jpg') no-repeat;
 }

 #gokarna-tile {
 	background: url('../images/gokarna-img.jpg') no-repeat;
 }

 #sakleshpur-tile {
 	background: url('../images/sakleshpur-img.jpg') no-repeat;
 	background-position: center;
 }

 #golgumbaz-tile {
 	background: url('../images/golgumbaz-img.jpg') no-repeat;
 }

 #dandeli-tile {
 	background: url('../images/dandeli-img.jpg') no-repeat;
 }

 #hampi-tile {
 	background: url('../images/hampi-img.jpg') no-repeat;
 }

 #jog-tile {
 	background: url('../images/jog-img.jpg') no-repeat;
 }

 #srirangapatna-tile  {
 	background: url('../images/srirangapatna.jpg') no-repeat;
 }



 #bangalore-tile:hover, #coorg-tile:hover, #mysore-tile:hover, 
  #shivanasamudra-tile:hover, #bandipur-tile:hover, #gokarna-tile:hover,
  #sakleshpur-tile:hover, #dandeli-tile:hover, #hampi-tile:hover,
  #golgumbaz-tile:hover, #jog-tile:hover, #srirangapatna-tile:hover {
 	box-shadow:0 1px 5px 3px black;
 }

 .heading {
 	font-size: 3em;
 	padding:30px;
 	padding-bottom: 10px;
 	color: #000066 ;
 }

 .top-para-map {
 	float:right;
 	overflow: hidden;
 }

 div.container {
 	padding:0;
 }

 #map-tile {
 	border: 2px solid black;
 }

 #info {
 	font-size: 1.5em;
 }

 